.LatestInsightsHeading {
  text-align: center;
}

.LatestInsightSlideImg {
  border-radius: 12px 12px 0px 0px;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.LatestInsightSlideContent {
  padding: 20px;
  display: flex;
  flex-direction: column;
  min-height: 176px;
  -moz-box-pack: justify;
  justify-content: space-between;
}

.LatestInsightSlideContent .SlideHeading {
  font-family: "Inter";
  text-align: left;
  margin: 10px 0px;
  font-size: 1.2rem;
  font-weight: 600;
  color: #2b2e35;
}

.LatestInsightSlideContent .SlidePara {
  margin: 1.5rem 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  -ms-word-wrap: break-word;
  word-wrap: break-word;
  text-align: left;
  font-family: "Inter";
  color: #7c7c7c;
}

.LatestInsightSlideContent .SlideDate {
  display: flex;
  flex-direction: row;
  -moz-box-pack: start;
  justify-content: flex-start;
  -moz-box-align: center;
  align-items: center;
  text-align: left;
  font-family: "Inter";
  font-weight: 400;
  color: #7c7c7c;
  text-transform: uppercase;
}
