/* body {
  background-color: #333;
} */

.LatestInsightSlider img {
  /* width: 100px;
  height: 100px; */
  animation: 40s linear 2.5s infinite normal none running scroll;
  /* right-to-left-mobile */
}

.LatestInsightSlide-track {
  width: 100%;
  display: flex;
  gap: 3em;
  overflow: hidden;
}

.LatestInsightSlider {
  padding: 2em;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translatex(-1000%);
  }
}
